/* Breadcrumb */
.breadcrumb {
  margin-top: 145px;
}

.breadcrumb span a {
  color: #000;
}

.breadcrumb span a:hover {
  color: #ef3f3f;
}

.breadcrumb .breadcrumb_last {
  color: #ef3f3f;
}

/*  */
.product__detail-container {
  border-radius: 4px;
}

/* Product detail header */
.product__header-container {
  background-color: #fff;
  padding: 10px;
}

.product__header-container .product_title {
  margin-top: 0;
  font-size: 26px;
  line-height: 29px;
  font-weight: 500;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
  color: #000;
}

.product__header-container .product_rating {
  display: flex;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 18px;
}

.product_rating .average_rate {
  font-size: 14px;
  margin-right: 6px;
  color: #334862;
}

.product_rating .star_rating {
  color: #ffbe00;
  margin-right: 6px;
}

.product_rating .review_link {
  font-size: 14px;
  color: #334862;
  margin-right: 14px;
}

.product_rating .review_link:hover {
  color: #000;
}

.product_rating .sold {
  position: relative;
  color: #334862;
}

.product_rating .sold::before {
  content: "";
  margin: 0 5px;
  top: 3px;
  left: -12px;
  background: #ccc;
  width: 1px;
  height: 17px;
  position: absolute;
}

/* Product main container */
.product_main-container {
  height: 100%;
  padding: 10px;
  background-color: #fff;
}

.product_gallery .product_thumbnail {
  width: 100%;
  height: auto;
  border: 1px solid #e9e9e9;
  object-fit: cover;
}

.product_summary .price_wrapper {
  display: flex;
}

.product_summary .price_wrapper h4 {
  font-size: 20px;
  margin-right: 8px;
  padding-top: 3px;
  margin-bottom: 0;
}

.product_summary .price_wrapper .price_on_sale {
  font-size: 20px;
  font-weight: 700;
  margin-right: 6px;
  color: #ef3f3f;
}

.product_summary .price_wrapper .price_original {
  font-size: 16px;
  text-decoration: line-through;
  padding-top: 2px;
}

.product_summary .status__wrapper {
  color: #334862;
  display: flex;
}

.product_summary .status__wrapper h4 {
  font-size: 18px;
  margin-right: 8px;
  padding-top: 2px;
  font-weight: 700;
}

.product_summary .status__wrapper .product_status {
  color: #ef3f3f;
  font-size: 18px;
}

.product-short-description h3 {
  font-size: 18px;
  color: #ef3f3f;
  padding-bottom: 12px;
  border-bottom: 1px solid #e9e9e9;
}

.product-short-description ul {
  padding: 0;
}

.product-short-description li {
  margin-bottom: 4px;
}

.product-short-description li i {
  margin-right: 10px;
  color: #34a105;
  font-weight: 800;
}

/* Quantity option */
.quantity_wrapper {
  display: flex;
  margin-bottom: 20px;
}

.quantity_wrapper label {
  margin-right: 13px;
  font-size: 18px;
}

.quantity_button-wrapper {
  border-radius: 4px;
  border: 1px solid #e9e9e9;
  width: 121px;
  height: 100%;
}

.quantity_wrapper .button-quantity {
  width: 35px;
  font-size: 20px;
  height: 39px;
  background-color: #fff;
}

.quantity_wrapper .input-text {
  width: 45px;
  font-size: 20px;
  height: 38px;
  padding-left: 2px;
  background-color: #fff;
}

.quantity_wrapper .button-quantity:hover {
  background-color: #f1f1f1;
}

.cart .add-to-cart-button {
  width: 100%;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 10px;
  border-radius: 3px;
  background-color: #ed1b24;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.buy_now {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 9px 0;
  border-radius: 4px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background: #fd6e1d;
  background: linear, 0% 0%, 0% 100%, from(#fd6e1d), to(#f59000);
  margin: 0 0 20px 0;
  width: 100%;
  cursor: pointer;
}

.buy_now strong {
  font-size: 16px;
}

.buy_now span {
  font-size: 10px;
}

/* Social icon */
.social_icon {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  text-align: center;
}

.social_icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
}

.social_icon .fa-facebook-f {
  background-color: #3a589d;
}

.social_icon .fa-twitter {
  background-color: #2478ba;
}

.social_icon .fa-envelope {
  background-color: #111111;
}

.social_icon .fa-pinterest-p {
  background-color: #cb2320;
}

.social_icon .fa-linkedin-in {
  background-color: #0072b7;
}

/*  */
.content_after_share {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.content_after_share p {
  margin-right: 4px;
}

/* Product sidebar */
.featured__box-wrapper {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  padding: 10px;
}

.featured__box {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px dotted #e9e9e9;
}

.featured__box-wrapper .featured__box:last-child {
  border: none;
}

.featured__box-icon {
  align-items: center;
  display: flex;
}

.featured__box-icon img {
  width: 40px;
  height: 40px;
  margin-right: 14px;
}

.featured__box-text p {
  margin: 0;
  font-size: 12px;
  color: #6e6666;
}

.featured__box-text strong {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

/* Related product */

.row__item-container {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #fff;
  -webkit-tap-highlight-color: transparent;
}

.row__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.row__item-container {
  border: 1px solid #f1f1f1;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.row__item-display {
  position: relative;
  overflow: hidden;
}

.row__item-img {
  width: 100%;
  padding-top: 100%;
  border-radius: 5px;
  will-change: transform;
  transition: transform 0.7s;
  backface-visibility: hidden;
  transform: perspective(1px) translateZ(0);
  cursor: pointer;
}

.row__item-container:hover .row__item-img {
  transform: scale(1.12, 1.12);
}

.row__info-name {
  color: #000;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  max-height: 44px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.row__info-name:hover {
  color: #ef3f3f;
}

.price__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 10px;
}

.price-has-dropped {
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
  color: #ef3f3f;
}

.price-previous-dropped {
  font-size: 16px;
  color: #d4d4d4;
  text-decoration: line-through;
}

.add-to-cart-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 34px;
  background: #ef3f3f;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  display: none;
}

.row__item-container:hover .add-to-cart-btn {
  display: block;
}

.add-to-cart-btn a {
  display: block;
  width: 100%;
  height: 100%;
  transform: translateY(15%);
}

.add-to-cart-btn a i {
  padding-right: 6px;
}

/* Product footer */
.product__footer-container {
  margin-top: 20px;
}

.related__products-wrapper {
  border-radius: 4px;
  background-color: #fff;
  padding: 10px;
}

.related__products-wrapper h3 {
  text-align: center;
  font-weight: bolder;
  margin: 15px 0;
  font-size: 26px;
}

/* Product footer content */
.product__footer-content {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
}

.product__footer-content .product__tab-header {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
  border-bottom: 1px solid #e9e9e9;
}

.product__footer-content .product__tab-content {
  margin-top: 10px;
}

.product__tab-content h2 {
  color: #555;
  width: 100%;
  margin: 10px 0;
  font-size: 26px;
  font-weight: 600;
}

/* Product footer sidebar */
.product__footer-sidebar {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
}

.product__footer-sidebar .footer__sidebar-title {
  font-size: 16px;
  font-weight: 500;
  padding: 6px 15px;
  position: relative;
  background-color: #ef3f3f;
  margin-top: 0;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.sidebar__product-wrapper {
  display: flex;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  margin-bottom: 10px;
}

.sidebar__product-wrapper .sidebar__product-img img {
  width: 90px;
  cursor: pointer;
}

.sidebar__product-text .category-title {
  display: block;
  color: #b2b2b2;
  transition: color 0.15s;
  font-size: 12px;
  font-weight: 500;
  text-transform: unset;
  opacity: 1;
  overflow: hidden;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0px;
}

.sidebar__product-text .product-name a {
  color: #333;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin: 0 0 5px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}

.sidebar__product-text .price-wrapper {
  display: flex;
  transform: translateY(-50%);
}

.sidebar__product-text .price-wrapper .price-has-dropped {
  font-size: 14px;
  margin-right: 4px;
}

.sidebar__product-text .price-wrapper .price-previous-dropped {
  font-size: 14px;
}

/* Product review */
.review__product {
  background-color: white;
  color: #333;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
}

.review__product .review__title {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0;
}

.star__box {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid #e9e9e9;
  border-radius: 6px;
  display: flex;
}

.star__box .star__average {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  font-size: 12px;
}

.star__box-left {
  display: flex;
  flex-direction: column;
  border: 1px solid #e9e9e9;
  padding: 5px 10px;
  flex: auto;
}

.review-row {
  display: flex;
  flex-direction: row;
}

.review-row .stars_value {
  display: flex;
  margin-right: 10px;
  font-size: 18px;
}

.review-row .stars_value i {
  margin-left: 6px;
  color: #ffbe00;
}

.review-row .rating_bar {
  width: 100%;
}

.review-row .rating_scale {
  border-radius: 3px;
  display: inline-block;
  height: 15px;
  background: #eee;
  vertical-align: middle;
  overflow: hidden;
  width: 100%;
}

.review-row .nums_review {
  width: 150px;
  margin-left: 10px;
}

.star__box-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.star__box-right a {
  background-color: #03a0e2;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.no-review {
  font-size: 16px;
  margin-top: 10px;
}

/* Product comment */
.comment__product {
  background-color: white;
  color: #333;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
}

.comment__product strong {
  font-size: 16px;
}

.comment__input {
  border: 1px solid #e9e9e9;
}

.comment__input textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 10px;
}

.form__comment-bottom {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.comment__gender-radio {
  display: flex;
  flex: 1;
  margin-right: 15px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
}

.comment__gender-radio div {
  margin: 0 6px;
}

.comment__gender-radio div label {
  cursor: pointer;
}

.comment__name-input,
.comment__email-input {
  width: 35%;
  border: 1px solid #e9e9e9;
  margin-right: 10px;
  padding: 6px 10px;
}

.comment__submit button {
  height: 35px;
  background: #fbd648;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 35px;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

@media (min-width: 992px) {
  .row__item-btn .button {
    font-size: 1rem;
    padding: 8px 7px;
  }

  .col-lg-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-lg-1-7 {
    flex: 0 0 14.28571%;
    max-width: 14.28571%;
  }

  .col-lg-1-7 {
    display: block;
  }

  .col-lg-1-5 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }

  .col {
    padding-left: 15px;
    padding-right: 15px;
  }
}
