.footer {
  position: absolute;

  left: 0;
  width: 100%;
}

.mid_footer {
  padding: 40px 110px;
  margin-top: 20px;
  color: white;
  background-color: #151515;
}

footer.footer .title_menu {
  margin: 0;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

footer.footer .title_menu a,
footer.footer .title_menu span {
  cursor: default;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

footer p {
  color: #fff;
  font-size: 14px;
  line-height: 25px;
}

ul.social__option-list {
  padding: 0;
}

.social__option-list {
  display: flex;
  flex-direction: row;
}

.social__option-list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  color: #fff;
  background-color: #6dd3d1;
  cursor: pointer;
}

.social__option-list li a:hover {
  background-color: #e57368;
}

.section_footer {
  width: 100%;
  padding: 8px 110px;
  float: left;
  border-top: 1px solid #222;
  line-height: 30px;
  text-align: center;
  background: #fff;
}

.section.wsp span {
  font-size: 13px;
}
